@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 100%;
    background-color: #1b3039;
    padding: 5px 5%;
    top: 0;
}

.boton-inicio button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.logo img{
    width: 12rem;
    cursor: pointer;
    transition: all 0.7s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}

.formulario{
    width: 420px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 25px 40px rgba(0,0,0,.5);

}

.formulario h1{
    font-size: 40px;
    color: #000;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login label{
    font-size: 25px;
}

.login input{
    border-radius: 10px;
    font-size: 30px;
    background-color: #345b6b;

}

.login input::placeholder{
    color: white;
}

.username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

}

.login-bot{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.login-button{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-button a{
    text-decoration: none;
}

.login-button input{
    border-radius: 10px;
}

.sub-log{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

}


/* FOOTER */

footer{
    background-color: #1b3039;
    height: 250px;
    margin-top: 55px;
}

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icon{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon img{
    width: 10rem;
    cursor: pointer;
}

.footer-contacto{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.red-social{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;

}

.red{
    display: flex;
    gap: 50px;
    cursor: pointer;
}

.ubicacion{
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;

}

footer h3{
    color: gold;
}

footer h4{
    color: #999;
}

footer i{
    color: #999;
}


